.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background-image: linear-gradient(to right bottom, #7a767f, #766d81, #716484, #6c5a86, #675188, #61467a, #5b3b6d, #55305f, #462442, #33192a, #1e1017, #000000);
    color: #f8f9fa; /* Light text color */
  }
  
  .content-container {
    max-width: 800px;
    padding: 20px;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #d8e900; /* Highlighted color for heading */
    font-weight: bold;
  }
  
  .content-container p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
    color: beige;
  }
  
  .btn-see-projects {
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .btn-see-projects:hover {
    background-color: #222;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .btn-see-projects {
      padding: 8px 20px;
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.8rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .btn-see-projects {
      padding: 6px 16px;
      font-size: 0.8rem;
    }
  }
  